.divUserIndexButtonGroup {
    margin: 0 auto;
    width: 112px;
}

.divReportButtonGroup {
    margin: 0 auto;
    width: 112px;
}

.divUserIndex {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font-size: 300%;
    padding: 2px;
    resize: both;
    height: 550px;
}

.btnOperation {
    font-size: 150%;
    height: 40px;
    width: 90px;
    line-height: 10px;
}

.divReportRegions {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid black;
    resize: both;
    height: 250px;
}

.divReportIndices {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font-size: x-large;
    padding: 2px;
    resize: both;
    height: 109px;
}

.divIndexIcon {
    height: 60px;
    width: 190px;
    background: #FAFAFA;
    padding: 10px;
    margin: 5px auto;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    font-size: medium;
    text-wrap: normal;
}